#js-debug {
    z-index: 99999999;
    position: fixed;
    top: 0px;
    left: 0px;
    background: green;
    color: #ffffff;
    display: none;
    height: 50px;
    width: auto;
    overflow: auto;
}
.mapify-maps {
    margin-left: -15px;
    margin-right: -15px;
}

.mapify-modal .media-frame-title {
    margin-right: 50px;
    overflow: hidden;
}
.mapify-modal .media-frame-title .map-title {
   border: 1px dashed transparent;
    outline: none;
}
.mapify-modal .media-frame-title .map-title:hover,
.mapify-modal .media-frame-title .map-title:focus {
    border: 1px dashed #333;
}
.map-preview {
    width: 100%;
    height: 100%;
    display: block;
}
.button-new-action {
    position: absolute;
    top: 0px;
    right: 0px;
}
.mapify-modal .attachments-browser .attachments {
    top: 0px;
    padding: 0px;
    right: 0px;
    left: 300px;
}
.mapify-modal .media-sidebar{
    padding-left: 0px;
    padding-right: 0px;
    width: 300px;
    left: 0px;
    right: auto;
    bottom: 0px;
    border-left: 0px;
    border-right: 1px solid #DDDDDD;
}
.mapify-modal .media-sidebar  h2,
.mapify-modal .locations-sidebar  h2 {
    margin: 20px 10px;
}
.map-option-group li {
    border-top: 1px solid #ddd;
    margin-bottom: 0px;
}
.map-option-group li:last-child {
    border-bottom: 1px solid #ddd;
}
.map-option-group li.no-group {
   border-top: none !important;
   border-bottom: none !important;
    padding: 5px 10px 10px;
}

.map-og-heading {
    background: #f5f5f5;
    position: relative;
    padding: 10px 10px 11px 10px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}
.map-og-heading:after {
    position: absolute;
    top: 9px;
    right: 15px;
    font-family: "dashicons";
    font-size: 20px;
    opacity: .8;
    content: "\f140";
}

.opened .map-og-heading:after {
    content: "\f142";
}

.group-locations .map-og-heading:after{
    content: "\f139";
}

.map-og-settings {
    border-top: 1px solid #ddd;
    background: #ffffff;
    padding: 10px;
    display: none;
}
.opened .map-og-settings {

}
.map-og-desc {
    margin-bottom: 15px;
    font-style: italic;
}

.mapify-modal .field-input {
    margin-bottom: 15px;
}
.mapify-modal .field-input:last-child {
    margin-bottom: 0px;
}
.mapify-modal .field-text input,
.mapify-modal .field-select select,
.mapify-modal .field-textarea textarea {
    display: block;
    width: 100%;
}
.mapify-modal .field-textarea textarea {
    min-height: 150px;
}
.mapify-modal .locations li {
    background: #f5f5f5 none repeat scroll 0 0;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 10px 11px;
    position: relative;
    border-top: 1px solid #ddd;
    margin-bottom: 0px;
}
.mapify-modal .locations li.active {
    background: #ffffff;
}
.mapify-modal .locations li:last-child {
    border-bottom: 1px solid #ddd;
}


.mapify-modal .locations-sidebar {
    position: absolute;
    left: 0px;
    width: 300px;
    top: 0px;
    bottom: 0px;
    background: #F3F3F3;
    border-right: 1px solid #ddd;
    overflow: auto;
}
.locations-close {
    text-decoration: none;
    position: absolute;
    right: 0px;
    top: 0px;
}
.locations-close::before {
    content: "\f335";
    color: #666;
    font: 400 20px/1 dashicons;
    vertical-align: middle;
}



.location-actions {
    position: relative;
}
.location-actions a {
    text-decoration: none;
    outline: none !important;
    text-transform: none;
}
.location-actions .first-menu {
    padding: 5px;
    background: #ffffff;
    z-index: 35;
    position: relative;
    border: 1px solid transparent;
    /*
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 0 none !important;
    */
}
.location-actions:hover .first-menu {
    border-color: #DDDDDD;
}
.location-actions .sub-menu-actions {
    position: absolute;
    top: 28px;
    left: 0px;
    width: 150px;
    background: #ffffff;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    z-index: 30;
    display: none;
}
.location-actions:hover .sub-menu-actions {
    display: block;
}

.location-actions .sub-menu-actions a {
    display: block;
    padding: 5px;
    border-top: 1px solid #DDDDDD;
}
.location-actions a {
    display: table-cell;
}

.media-toolbar .action-msg {
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: 10px;
    display: block;
}

.pac-container {
    z-index: 999999;
}

/* Map Listing */
.mapify-maps * {
    box-sizing: border-box;
}
.mapify-maps:after {
    clear: both;
    content: ''; display: block;
}
.mapify-maps .map-col{
    width: 33.33333%;
    float: left;
    padding: 15px;
}
.mapify-map-item {
    border: 1px solid #DDDDDD;
}
.mapify-map-item .map-meta {
    padding: 10px;
    background: #32373C;
    color: #ffffff;
    margin-right: -1px;
    margin-bottom: -1px;
    margin-left: -1px;
    position: relative;
}
.mapify-map-item .map-meta:after {
    clear: both; content: ""; display: block;
}
.mapify-map-item .map-name {
    font-size: 18px;
    padding-right: 20px;
}
.mapify-map-item .del-map {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: #ffffff;
}
.mapify-map-item .shortcode {
    margin-top: 10px;
    display: block;
    width: 100%;
    background: transparent;
    color: #ffffff;
    border: none;
}

.mapify-maps .gmap-preview-wrapper{
    padding-top: 80%;
    display: block;
    background: #333333;
    position: relative;
}
.mapify-maps .gmap-preview {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    display: block;
}

.mapify-center {
    float: right;
}
.mapify-modal .media-toolbar-primary .spinner {
    margin-top: 20px;
    margin-left: 10px;
    display: none;
}
.mapify-modal.saving .media-toolbar-primary .spinner {
    visibility: visible;
    display: block;
}

/*Tooltip*/
.help-tooltip {
    background: #32373C;
    padding: 10px;
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    z-index: 999999999;
    color: #ffffff;
    font-size: 12px;
    max-width: 200px;
}
.help-tooltip a {
    color: #d36c50;
}
.help-tooltip a:hover {
    color: #d36c50;
    text-decoration: underline;
}
.field-input .dashicons-editor-help {
    float: right;
}
.field-input.field-checkbox .dashicons-editor-help {
    float: none;
}

.help-tooltip:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid #32373C 10px;
    bottom: -10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 0;
}

/* InfoWindow */
.gmap-infowindow {
    width: 300px;
}
.gmap-infowindow * {
    box-sizing: border-box;
}
.info-field {
    padding-top: 5px;
    padding-bottom: 5px;
}
.info-field::after {
    clear: both; content: " "; display: block;
}
.info-field.half .label {
    width: 40%;
    float: left;
}
.info-field.half .value {
    width: 60%;
    float: right;
}

/* Media */
.field-marker img {
    max-width: 100%;
    height: auto;
}
.media-upload {
    position: relative;
}
.media-preview {
    width: 80px;
    height: 80px;
    display: block;
    border: 1px solid #DDDDDD;
}
.media-upload .media-remove {
    color: #ef0000;
    display: none;
    font-size: 15px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    text-decoration: none;
    position: absolute;
    top: 1px;
    left:1px;
    background: #ffffff;
}
.media-upload.has-preview .media-remove {
    display: block;
}

.media-remove:before {
    content: "\f335";
    font-family: "dashicons";
}